.city-selector-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.city-selector-select {
  margin: 10px;
}

.city-selector-selected-statement {
  margin-top: 20px;
  font-weight: bold;
}
